@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




.mobile-menu.show{
    display: block;
     background-color: #fff;
     color: #333;
     right: 0%;
     transition: 5s ease-in-out;
 }
 .mobile-menu{
     position: fixed;
     top: 0;
     right: -100%;
     background-color: #fff;
     width: 100%;
     height: 100%;
     z-index: 1;
     padding: 5.75rem 2rem 2rem 2rem;
     display: none;
     transition: 0.2s;
     z-index: 3;
 }
 .closebtn{
     margin-top: -2.5rem;
     display: block;
     padding-bottom: 1rem;
     font-size: 1.25rem;
     margin-left: 0;
 }
 .navmenu a.active{
     color: #f12b20 !important;
 }
 .header{
    background-color: rgba(0,0,0,.36);
    opacity: 1;
    position: absolute;
    width: 100%;
 }
 .banner{
    background: url(../images/top-header.png) no-repeat center top;
    background-size: cover;
    width:100%;
    height: 44rem;
 }
 .tab-section .title-name a{
     position: relative;
 }
 .tab-section .title-name a i{
    position: absolute;
    right:0
}
.tab-section .title-name a.active-a::before{
    content: "";
    display: block;
    position: absolute;
    min-height: 70px;
    max-height: fit-content;
    width: 4px;
    background-color: #F58025;
    border-radius: 4px;
    margin-left: -20px;
}
.tab-section .title-name a img{
    height: 35px;
    width: 35px;
    margin-right: 20px;
}
.tab-section .title-name a h4{
    max-width: 366px;
}
.tab{
	display: none;
}
.tab-active{
	display: block;
}
.active-a, .active-a i{
    color: #F58025;
}
.tab-content{
    border-right: 3px solid #F58025;
    padding: 40px 30px 40px 10px;
    position: relative;
}
.tab-content::before{
    content: "";
    position: absolute;
    right: 0;
    height: 3px;
    width: 210px;
    background: #F58025;
    top: 0;
}
.tab-content::after{
    content: "";
    position: absolute;
    right: 0;
    height: 3px;
    width: 210px;
    background: #F58025;
    bottom: 0;
}
.inner-product{
    position: relative;
}
.inner-product .center-text{
  position: absolute;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0B2372;
  border: 10px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 50px;
  text-align: center;
  line-height: 1.1;
  color: #fff;
}
.inner-product .circle-design{
    height: 360px;
    width: 360px;
    background-color: blue;
    background: #0b2372;
    background: linear-gradient(180deg, #0b2372 0%, #0000d1 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 15px rgb(0 14 255 / 40%);
}
.inner-product .circle-design::before{
    content: "";
    display: block;
    position: absolute;
    height: 390px;
    width: 36px;
    background-color: #FAFBFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-product .circle-design::after{
    content: "";
    display: block;
    position: absolute;
    height: 36px;
    width: 390px;
    background-color: #FAFBFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.location{
    background: url(../images/bg-map.png);
    background-size: cover;
    width: 100%;
}
.location .map-border::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 340px;
    background: #ccc;
    left: -116px;
    top: -120px;
}

/* service page */
.service-banner{
    background: url(../images/cloud-service-bg.png) no-repeat center;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 35rem;
}
.service-text{
    position: absolute;
    left: 50%;
    top: 246px;
    transform: translate(-50%, 50%);
}

@media screen and (max-width:576px) {
    .service-text h2{
        font-size: 24px;
    }
}

@media screen and (max-width:767px) {
    .service-text h2 br{
        display: none;
    }
    section h2 br{
        display: none;
    }
    .footer-top h3 br{
        display: none;
    }
}
@media screen and (max-width:1024px) {
    .service-text {
        top: 230px;
    }
}

/* footer */

.footer-top{
    background: url(../images/bg-bottom.png) no-repeat center;
    background-size: cover;
    width: 100%;
}
